*{
  margin: 0;
}




@media screen and (max-width: 1024px) {
  .canvasTTL p{
    font-size: 12vw;
  }
}

body{
  height:10000px;
}

#myCanvas canvas{
  background: #bfbfbf;
  min-height: 100vh;
  min-height: fill-available;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: -1; */
}

